[Unit]
Description=My Drova Desktop Service
Wants=network-online.target
After=network-online.target

[Service]
User=xrzvs
EnvironmentFile=/home/xrzvs/drova-desktop/%i.env
WorkingDirectory=/home/xrzvs/drova-desktop
ExecStart=/home/xrzvs/.local/bin/poetry run drova_poll
Restart=on-failure

[Install]
WantedBy=multi-user.target
